.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
build/
coverage/
.idea/
.vscode/
*.iml
*.log

.venv/
venv/
__pycache__/
*.pyc

ybey.db
*.db

backend/ngrok.exe
backend/cloudflared.exe
